.formpart{
    border: 2px solid blue;
    height: 80vh;
    margin: 10px 40px;
    border-radius: 20px;
    
}
.vl {
    border-left: 2px solid gray;
    height: 79.7vh;

  }

@media only screen and (max-width:668px){
    .formpart{
        height: 1024px;
    }
}
